.introSection {
  max-width: 1200px;
  margin: 4rem auto;
}

.leadsSection {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 3rem;
}

.leadsImage img {
  /* max-width: 100%; */
  border-radius: 8px;
  width: 20rem;
}

.leadsContent h2 {
  font-size: 2em;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 10px;
}

.leadsContent h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: #1abc9c;
}

.leadsContent p {
  font-size: 1em;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .leadsSection {
    flex-direction: column;
    text-align: center;
  }

  .leadsContent {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .leadsContent h2 {
    font-size: 1.5em;
  }

  .leadsContent p {
    font-size: 0.9em;
  }
}
