.carousel {
  max-width: 1200px;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.pill {
  padding: 12px 22px;
  background: transparent;
  border-radius: 40px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  color: var(--color-theme);
  border: 1px solid var(--color-theme);
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  display: inline-block;
  will-change: transform;
}

.active,
.pill:hover {
  background: var(--background) !important;
  background-clip: text !important;
  color: transparent !important;
}

@media (max-width: 480px) {
  .pill {
    padding: 6px 12px;
    font-size: 12px;
  }
}
