/* LINK BUTTON */
.btn_align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkButton {
  padding: 10px 20px;
  /* background-color: var(--color-button-1); */
  background: var(--background);
  border: none;
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer !important;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  display: inline-block;
  will-change: transform;
  font-size: 1rem;
}

.linkButton:hover {
  box-shadow: 0 0 20px #157abd46;
  transform: scale(1.1);
}
