.page_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
}

.page_heading p {
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-tertiary);
  font-weight: 500;
}

.quality_container {
  max-width: 1200px;
  margin: auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 0 2rem;
}

.quality_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #157abd36;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 0.2s ease-in;
  padding: 1rem 2rem;
}

.quality_box h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-primary);
  padding-bottom: 10px;
  background: var(--background);
  background-clip: text;
  color: transparent;
}

.quality_box p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-tertiary);
  padding-bottom: 10px;
}

.quality_box:hover {
  transform: translateY(-5px);
}

@media (max-width: 810px) {
  .quality_container {
    max-width: 1200px;
    margin: auto;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    padding: 0 2rem;
  }
}
