.readMore {
  background-color: #161515;
  width: 100%;
  padding: 3rem 0;
}

.sectionHeading {
  max-width: 1200px;
  margin: auto;
}

.sectionHeading h3 {
  font-size: 2rem;
  padding-bottom: 10px;
  background: var(--background);
  background-clip: text;
  color: transparent;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background: transparent;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 350px;
  margin: 20px;
  padding: 1.2rem;
  border: 1px solid gray;
  border-radius: 20px;
}

.card_image {
  overflow: hidden;
  border-radius: 20px;
  height: 16rem;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
  backface-visibility: hidden;
}

.card:hover .cardImage {
  transform: scale(1.1);
}

.cardContent {
  padding: 5px;
  padding-top: 10px;
}

.cardTitle {
  font-size: 1.4rem;
  color: #fff;
  margin: 0;
  font-weight: 600;
  height: 4rem;
}

.cardDescription {
  font-size: 1rem;
  color: #ffffff8c;
  margin-top: 10px;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.8em;
  line-height: 1.2em;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  gap: 10px;
}

.authorName {
  background: var(--background);
  background-clip: text;
  color: transparent;
  font-size: 1.2rem;
}

.cardDate {
  font-size: 1rem;
  color: #ffffff8c;
}

.cardLink {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  background: var(--background);
  border-radius: 50%;
  padding: 0.4rem;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}

.cardLink:hover {
  /* background-color: #161515; */
  /* color: #e3ff59; */
  /* border: 1px solid #e3ff59; */
  transform: scale(1.08);
}

@media (max-width: 1200px) {
  .sectionHeading h3 {
    text-align: center;
  }
}
