.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  text-decoration: none !important;
}

.card {
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  width: 300px;
  margin: 20px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.cardLink {
  text-decoration: none !important;
}

.cardImage {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
}

.cardTitle {
  font-size: 1rem;
  color: var(--color-theme);
  margin: 0;
  font-weight: 600;
  height: 3rem;
}

.cardSubtitle {
  font-size: 0.8rem;
  color: grey;
  margin: 3px 0;
}

.cardDescription {
  font-size: 0.9rem;
  color: #777;
  margin-top: 10px;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.8em; /* Adjust based on your line height */
  line-height: 1.2em; /* Adjust based on your text line height */
}

.noCapitalize {
  text-transform: none; /* Prevent capitalization for this specific span */
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  gap: 5px;
  align-items: flex-end;
  flex-direction: column;
}

.cardDate {
  font-size: 0.9 em;
  color: grey;
}

.cardLink {
  font-size: 0.8em;
  color: var(--color-theme);
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardLink:hover {
  text-decoration: underline;
}
