.rootContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.blogList {
  max-width: 1200px;
  margin: auto;
  gap: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 2rem;
}

@media (max-width: 1200px) {
  .blogList {
    grid-template-columns: 1fr;
  }
}
