:root {
  --bg-light: #181c24;
  --color-white: #fff;
  --color-primary: #181c24;
  --color-secondary: #94703a;
  --color-drawer: #161616;
  --color-grey: #ccc;
  --color-success: #008000;
  --color-error: #ff0000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
