.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}

.heading h3 {
  font-size: 3rem;
  position: relative;
  padding-bottom: 10px;
  color: var(--color-primary);
  font-weight: 600;
  background: var(--background);
  background-clip: text;
  color: transparent;
}

.heading h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: var(--color-theme);
}

.heading p {
  font-size: 1.2rem;
  text-align: center;
  max-width: 800px;
  color: var(--color-tertiary);
}
